<div class="center">
<div [hidden]="submitted">
  <H2>{{ "Shipping_Confirmation" | translate }}</H2>
  <form (ngSubmit)="(onSubmit)" #salesOrder="ngForm">
    <b> {{ "Order_Information" | translate }} </b>
    <br>
    <br>
    <table>
      <tr>
        <mat-form-field class="example-form-field">
          <mat-label for="peinNumber">NIE/PEIN</mat-label>
          <input
            matInput
            type="string"
            class="form-control"
            id="peinNumber"
            required
            [(ngModel)]="peinNumber"
            name="peinNumber"
          />
        </mat-form-field>
      </tr>
      <tr>
        <mat-form-field class="example-form-field">
          <mat-label for="SKUNumber">SKU</mat-label>
          <input
            matInput
            type="string"
            class="form-control"
            id="SKUNumber"
            required
            [(ngModel)]="SKUNumber"
            name="SKUNumber"
          />
        </mat-form-field>
      </tr>
      <tr>
        <mat-form-field class="example-form-field">
          <mat-label for="quantityRequired">{{
            "Quantity" | translate
          }}</mat-label>
          <input
            matInput
            type="number"
            class="form-control"
            id="quantityRequired"
            required
            max="{{ plantSku?.Unrestricted }}"
            min="1"
            [(ngModel)]="quantityRequired"
            name="quantityRequired"
          />
        </mat-form-field>
      </tr>
      <br />
      <b> {{ "Ship_to" | translate }}</b>
      <tr>
        <mat-form-field class="example-form-field">
          <mat-label for="Name">{{ "Name" | translate }}</mat-label>
          <input
            matInput
            type="string"
            class="form-control"
            id="Name"
            required
            [(ngModel)]="Name"
            name="Name"
          />
        </mat-form-field>

        <mat-form-field class="example-form-field">
          <mat-label for="Address1"
            >{{ "Address" | translate }} Line 1</mat-label
          >
          <input
            matInput
            type="string"
            class="form-control"
            id="Address1"
            required
            [(ngModel)]="Address1"
            name="Address1"
          />
        </mat-form-field>

        <mat-form-field class="example-form-field">
          <mat-label for="Address2"
            >{{ "Address" | translate }} Line 2</mat-label
          >
          <input
            matInput
            type="string"
            class="form-control"
            id="Address2"
            [(ngModel)]="Address2"
            name="Address2"
          />
        </mat-form-field>

        <mat-form-field class="example-form-field">
          <mat-label for="City">{{ "City" | translate }}</mat-label>
          <input
            matInput
            type="string"
            class="form-control"
            id="City"
            required
            [(ngModel)]="City"
            name="City"
          />
        </mat-form-field>
        <mat-form-field class="example-form-field">
          <mat-label for="Province">Province</mat-label>
          <input
            matInput
            type="string"
            class="form-control"
            id="Province"
            required
            [(ngModel)]="Province"
            name="Province"
          />
        </mat-form-field>
        <mat-form-field class="example-form-field">
          <mat-label for="PostalCode">{{
            "Postal_Code" | translate
          }}</mat-label>
          <input
            matInput
            type="string"
            class="form-control"
            id="PostalCode"
            required
            [(ngModel)]="PostalCode"
            name="PostalCode"
          />
        </mat-form-field>
      </tr>
      <br />
      <b>{{ "Shipping_Options" | translate }}:</b>
      <tr>
        <mat-radio-group
          class="example-radio-group"
          id="type"
          required
          [(ngModel)]="Type"
          name="Type"
        >
          <mat-radio-button 
          class="example-radio-button" [value]="'Standard'">
            <b>{{ "Standard_Delivery" | translate }}</b>
            <p>3-5 {{ "Business_Days" | translate }}</p>
          </mat-radio-button>
          <mat-radio-button (click)="openPhoneNumbersCard()" class="example-radio-button" [value]="'Priority'">
            <b>{{ "Priority" | translate }}</b>
            <p>{{ "Call_text" | translate }}</p>
          </mat-radio-button>
        </mat-radio-group>
      </tr>
      <input 
      class="checkbox" 
      type="checkbox" 
      [checked]="shippingLabel" 
      [(ngModel)]="shippingLabel" 
      name="shippingLabel"> 
      {{ "Shipping_Label" | translate }}
      <tr>
        <button
          class="B1"
          mat-stroked-button
          [disabled]="!salesOrder.form.valid || Type=='Priority'"
          (click)="salesOrder.form.valid ? onSubmit() : null"
        >
          {{ "Submit_Delivery" | translate }}
        </button>
      </tr>
      <tr>
        <button class="B2" mat-stroked-button routerLink="/main/ncms">
          {{ "Cancel" | translate }}
        </button>
      </tr>
    </table>
  </form>
</div>
<!-- submit confirmation -->
<div [hidden]="!submitted">
  <H2>{{ "Submit_Confirm" | translate }}</H2>

  <table>
    <tr>
      <b> Material #</b>
      <br />{{
        SKUNumber
      }}
    </tr>
    <tr>
      <b>{{ "Quantity" | translate }}</b>
      <br />{{
        quantityRequired
      }}
    </tr>
    <tr>
      <b>NIE/PEIN #</b>
      <br />{{
        peinNumber
      }}
    </tr>
    <br />
    <!-- <button class="B1" mat-stroked-button (click)="submitted=false">Submit Another Order</button> -->
    <button class="B2" mat-stroked-button routerLink="/main/ncms">
      {{ "Done" | translate }}
    </button>
  </table>
</div>
</div>
