<table>
  <td>
    <button
      (click)="backButton()"
      style="border: none; padding-left: 0px"
      class="B2"
      *ngIf="!currentRoute.includes('main')"
    >
      <i style="color: #003778" class="bi bi-chevron-left"></i>
    </button>
  </td>
  <td class="inputBox">
    <input
      (keyup.enter)="searchTouched()"
      input
      name="searchInput"
      [(ngModel)]="searchInput"
      type="search"
      id="form1"
      class="form-control"
      placeholder="{{ 'Search' | translate }}"
    />
  </td>
</table>
